<% if logged_in? %>
  <div id="fh5co-portfolio">
    <div class="container">
      <div class="col-md-9">
        <h3>みんなの料理 (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "新しい料理を作る", new_dish_path, class: "btn btn-primary btn-lg btn-demo btn-record" %></p>
        <br>
        <p><%= link_to "みんなの料理をCSV出力", dishes_path(format: :csv), class: "btn btn-primary btn-lg btn-demo btn-csv" %></p>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/recruit_login' %>
  <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t js-fullheight">
            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
              <h1>　料理を投稿して、<br>
            みんなと共有しませんか？</h1>
              <h2>料理の輪を広めよう！！</h2>
              <p>
                <%= link_to 'クック-ウィズを始める', signup_path, class: "btn btn-primary btn-lg btn-demo" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
