<% @dish = Dish.find(favorite.dish_id) %>
<% user = @dish.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-dish">
    <div class="col-md-2">
      <%= link_to((image_tag @dish.picture.url), dish_path(@dish), class: 'dish-picture') %>
    </div>
    <div class="col-md-7">
      <p><%= link_to @dish.name, dish_path(@dish) %></p>
      <p><%= @dish.description %></p>
      <p class="cook-user">cooked by <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>
