<li id="dish-<%= dish.id %>">
  <%= link_to gravatar_for(dish.user, size: 50), dish.user %>
  <span class="name"><%= link_to dish.name, dish_path(dish) %></span>
  <span>
    <%= link_to((image_tag dish.picture.thumb200.url), dish_path(dish.id), class:'dish-picture') if dish.picture.url.present? %>
  </span>
  <span class="description"><%= dish.description %></span><br>
  <span class="required_time">所要時間：<%= dish.required_time %>分 </span>
  <span class="popularity">人気度：<%= dish.popularity %></span><br>
  <span class="reference"><%= link_to "作り方", dish.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(dish.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == dish.user) %>
    <%= link_to "削除", dish_path(dish), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
