<%= form_with model: @dish, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.label :picture %> <span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'dish_picture' %>
  </span>
  <div class = 'form-group'>
    <%= f.label :name %> <span class="input-need">※必須</span>
    <%= f.text_field :name, class: 'form-control', id: 'dish_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :description %> <span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'dish_description' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :portion %> 分量 [人分] <span class="input-unneed">※任意</span>
    <%= f.text_field :portion, class: 'form-control', id: 'dish_portion' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :tips %> <span class="input-unneed">※任意</span>
    <%= f.text_field :tips, size: "30x4", class: 'form-control', id: 'dish_tips' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :reference %> <span class="input-unneed">※任意</span>
    <%= f.text_field :reference, class: 'form-control', id: 'dish_reference' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :required_time %> [分] <span class="input-unneed">※任意</span>
    <%= f.text_field :required_time, class: 'form-control', id: 'dish_required_time' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :popularity %> [1~5] <span class="input-unneed">※任意</span>
    <%= f.text_field :popularity, class: 'form-control', id: 'dish_popularity' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :cook_memo %> <span class="input-unneed">※任意</span>
    <%= f.text_field :cook_memo, class: 'form-control', id: 'dish_cook_memo' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $('#dish_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
    }
  });
</script>
