<%= form_for(@log) do |f| %>
  <%= hidden_field_tag :dish_id, @dish.id %>
  <%= hidden_field_tag :list_id, @list.id if @list.present? %>
  <p class="add-cooklog"><i class="fas fa-utensils"></i> ログを追加する</p>
  <div class="row">
    <div class="col-md-9">
      <div class="field">
        <%= f.text_area :content, placeholder: "メモ" %>
      </div>
    </div>
    <div class="col-md-3">
      <% if @list.present? %>
        <%= f.submit "追加", class: "btn btn-primary",
                                      data: { confirm: "ログを追加し、リストから削除しますか？" } %>
      <% else %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
